html,
body,
#mapid {
  height: 100%;
  width: 100%;
  background: #191a1a;
  color: #d7d7d7;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Status icon, if the map is loading */

#status {
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.15rem;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#status a {
  color: inherit;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* Styling of the markers */

.leaflet-marker-icon {
  border: 1px solid #666;
  border-radius: 0.5rem;
}

/*Styling of the clustered markers */

.leaflet-marker-icon.leaflet-div-icon {
  overflow: hidden;
}

.leaflet-marker-icon.leaflet-div-icon .group-2,
.leaflet-marker-icon.leaflet-div-icon .group-3,
.leaflet-marker-icon.leaflet-div-icon .group-4 {
  display: flex;
  flex-wrap: wrap;
}

.leaflet-marker-icon.leaflet-div-icon .group-2 img,
.leaflet-marker-icon.leaflet-div-icon .group-3 img {
  height: 50px;
  object-fit: cover;
}

.leaflet-marker-icon.leaflet-div-icon .group-2 img {
  width: 25px;
}

.leaflet-marker-icon.leaflet-div-icon .group-3 img {
  width: calc(50px / 3);
}

.leaflet-marker-icon.leaflet-div-icon .group-4 img {
  height: 25px;
  width: 25px;
}

.leaflet-marker-icon.leaflet-div-icon .count {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px black, 0 0 5px black;
  font-size: 1.15rem;
  font-weight: 600;
}

/* Styling of the member popup */

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
}

.leaflet-popup-content {
  margin: 1rem;
  line-height: 1;
}

.leaflet-container .leaflet-popup a.leaflet-popup-close-button {
  padding: 0;
  top: 0.25rem;
  right: 0.25rem;
  height: 1rem;
  width: 1rem;
}

.leaflet-popup .member-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.leaflet-popup .member-location {
  font-size: 0.9rem;
}

/* Styling of the attribution links */
.leaflet-container .leaflet-control-attribution {
  font-size: 0.7rem;
  background: rgba(255, 255, 255, 0.9);
}
.leaflet-container .leaflet-control-attribution a {
  color: #6b4fbb;
}
.leaflet-container .leaflet-control-attribution a:hover,
.leaflet-container .leaflet-control-attribution a:focus {
  color: #4b3589;
}
